* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --primary-color: rgb(69 69 194);
    --white: #fff;
}

header {
    background-color: var(--primary-color);
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    color: var(--white);
}

.link,
a {
    display: inline;
}

.link {
    list-style-type: none;
    padding: 0.5rem 0;
    margin: 0 0.4rem;
}

.link.active {
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
}

.link a {
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0rem 0.5rem;
    color: var(--white);
}

