* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --primary-color: rgb(69 69 194);
    --white: #fff;
}

header {
    background-color: var(--primary-color);
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    color: var(--white);
}

.link,
a {
    display: inline;
}

.link {
    list-style-type: none;
    padding: 0.5rem 0;
    margin: 0 0.4rem;
}

.link.active {
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
}

.link a {
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0rem 0.5rem;
    color: var(--white);
}

footer {
    margin-top: 4rem;
    text-align: center;
}

.copyright {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

li a {
    display: inline;
}

li a i {
    margin: 0.5rem;
    font-size: 2.5rem;
    color: var(--primary-color);
}

/* --------------index---------- */

main {
    text-align: center;
}

.main-heading {
    margin: 1rem;
}

.container label {
    font-size: 1.5rem;
    margin: 0.5rem;
    display: block;
    color: var(--primary-color);
}

.container input {
    font-size: 1.2rem;
    margin: 1rem;
    width: 15%;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-color);
}

button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    display: block;
    /* margin: 1.3rem auto; */
    margin: 1.3rem auto 3rem;
}

#output{
    margin: 1.5rem;
}

/* ---------------quiz--------------- */
form {
    margin-bottom: 1rem;
}

.containers {
    margin-top: 1rem;
}

.containers label {
    font-size: larger;
    margin: 0 0.5rem
}

.questions {
    font-size: 1.2rem;
    margin: 1rem;
}